body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-section {
    display: flex;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.gradient-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.expreience-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.expreience-area {
    box-shadow: 10px 10px 40px gray;
    padding-bottom: 7%;
}

.experience-child-div {
    padding-right: 5%;
}

#first-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#second-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#full-stack-item {
    border-left: 7px solid tomato;
}

#baby-stack-item {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
    margin-top: 40px;
}